.formContainer {
  width: 30vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formContainer > *:not(:last-child) {
  margin-bottom: 1rem;
}
